.author {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.author__wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.author__btn {
  margin-top: 10px;
  width: 195px;
  height: 30px;
  background-color: #0065dc;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.author__toggle {
  margin-top: 20px;
  cursor: pointer;
  color: #0065dc;
}
.author__register {
  max-height: 200px;
  overflow: hidden;
  transition: all 0.5s;
}
.author__text {
  color: #0065dc;
  font-size: 20px;
  font-weight: 700;
}
.author__error {
  color: #dc0000;
  margin-top: 10px;
  font-size: 13px;
  height: 20px;
  overflow: hidden;
  transition: all 0.5s;
}
.author__time-out {
  color: #dc0000;
  margin-bottom: 20px;
}
