.container {
  margin: 0 auto;
  width: 70vw;
  max-width: 840px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header {
  background: #fff;
  width: 100%;
  z-index: 100;
}

.header__today {
  background: #5c9ae2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  padding: 7px 12px;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
}

.header__date {
  font-size: 16px;
  margin-bottom: 3px;
}

.header__time {
  font-weight: 700;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 100px;
}

.header__menu {
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header__user_text {
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
}

.header__logout {
  cursor: pointer;
  color: #0065dc;
  overflow: hidden;
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__user img {
  width: 40px;
}

.header__calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13vw;
  overflow: hidden;
}

@media (max-width: 700px) {
  .header {
    display: flex;
    justify-content: end;
  }
  .header__today {
    display: none;
  }
  .header__logo img {
    width: 60px;
    margin-left: 15vw;
  }
  .header__user img {
    width: 30px;
  }
  .header__menu {
    width: 28vw;
    justify-content: center;
  }
  .container {
    height: 45px;
    width: 91vw;
    margin: 0 0;
  }
  .header__logout {
    font-size: 12px;
    margin-right: 2vw;
  }
  .header__user_text {
    display: none;
  }
}
